{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "rules": {
    "no-console": 0,
    "func-names": 0,
    "no-param-reassign": 0,
    "prefer-template": 0,
    "arrow-body-style": 0,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "functions": "never",
      "objects": "only-multiline"
    }],
    "max-len": ["error", 100, 2, {
      "ignoreRegExpLiterals": true,
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "no-unused-vars": ["error",
      { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }
    ],
    "import/no-extraneous-dependencies": ["error",
      {"devDependencies": ["**/*.test.js", "**/*.spec.js", "**/*.mock.js"]}
    ]
  }
}
